@media screen and (min-width: 428px) {
  .container {
    width: 426px;
  }
}
@media screen and (max-width: 1157px) {
  .advantages-logo {
    display: none;
  }
  .work {
    position: absolute;
    top: -150%;
    z-index: -100;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
    cursor: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    outline: none;
    white-space: nowrap;
  }
}
