:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white-background);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

header {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  /* max-width: 1158px; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  top: -150%;
  z-index: -100;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
  cursor: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  white-space: nowrap;
}

.visually-hidden-check {
  position: absolute;
  top: -150%;
  z-index: -100;
  width: 0;
  height: 0;
  opacity: 0;
  /* visibility: hidden; */
  user-select: none;
  pointer-events: none;
  cursor: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  outline: none;
  white-space: nowrap;
}

/** ------- HEADER------- **/

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.part-header-logo {
  color: var(--dark);
}

.header-list {
  display: flex;
  margin-left: 76px;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}

.header-link {
  padding-top: 24px;
  padding-bottom: 24px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--pressed-state);
}

.current {
  position: relative;
  color: var(--pressed-state);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  top: 68px;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--pressed-state);
}

.address {
  margin-left: auto;
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--pressed-state);
}

/** ------- FOOTER------- **/

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--hero-background);
}

.footer-container {
  display: flex;
  gap: 120px;
}

.part-footer-logo {
  color: var(--light);
}

.footer-text {
  max-width: 264px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
}

.footer-soc-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--success);
}

.footer-form-wrap {
  margin-left: -40px;
}
.footer-form-text {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-form-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  outline: transparent;
  color: var(--white-background);
  background-color: var(--modal-overlay);
  border: 1px solid var(--white-background);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus {
  border-color: var(--primary-brand);
}

.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-background);
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  padding: 8px;
  gap: 16px;
  width: 165px;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--primary-brand);
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--pressed-state);
}

.footer-form-icon {
  fill: var(--white-background);
}

/** ------- HERO------- **/

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  max-width: 428px;
  max-height: 432px;
  margin: 0 auto;
  background-color: var(--hero-background);
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 320px;
  font-size: 32px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
}

.hero-btn {
  margin-top: 72px;
  width: 169px;
  height: 56px;
  left: 20px;
  top: 88px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white-background);
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid var(--primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
  border-color: var(--pressed-state);
}

/** ------- ADVANTAGES------- **/

.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.advantages-logo {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
}

.advantages-subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/** ------- WORK------- **/

/** ------- TEAM------- **/

.team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--light);
}

.team-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-background);
}

.team-card-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

.team-subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.team-text {
  margin-top: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--pressed-state);
}

.team-soc-icon {
  fill: var(--light);
}

/** ------- CUSTOMERS------- **/

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

.customers-list {
  display: flex;
  gap: 72px 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.customers-item {
  width: 168px;
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: var(--subtle-text);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--pressed-state);
}

.customers-link:hover > .customers-icon,
.customers-link:focus > .customers-icon {
  fill: var(--pressed-state);
}

/** ------- PORTFOLIO------- **/

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.main-btn {
  display: flex;
  padding: 12px 24px;
  height: 48px;
  background: var(--light);
  border: 1px solid var(--accent);
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-background);
  border-color: var(--pressed-state);
}

.main-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .portfolio-cover-text,
.portfolio-link:focus .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-border {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--accent);
  padding: 32px 0 32px 16px;
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  background-color: var(--primary-brand);
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/** ------- MODAL------- **/

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 24px 24px 24px;
  width: 100%;
  max-width: 392px;
  min-height: 586px;
  border-radius: 4px;
  background-color: var(--modal-background);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--accent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* filter 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--pressed-state);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.modal-close-icon {
  fill: var(--dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: var(--white-background);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  outline: transparent;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--primary-brand);
}

/* .modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: #31d0ab75;
}

.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(231, 43, 18, 0.479);
} */

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: var(--subtle-text);
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  fill: var(--dark);
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--primary-brand);
}

.modal-textarea {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  resize: none;
  color: var(--dark);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: var(--primary-brand);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.modal-input-btn {
  width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white-background);
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid var(--primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-btn:hover,
.modal-input-btn:focus {
  background-color: var(--pressed-state);
  border-color: var(--pressed-state);
}

.modal-link {
  margin-left: 4px;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
}

.modal-checkbox-label {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-size: 11px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.modal-checkbox-label span {
  display: flex;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-top: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-input:checked + .modal-checkbox-label span {
  background-color: var(--pressed-state);
  border-color: var(--pressed-state);
  fill: var(--light);
}

.modal-checkbox-input:focus + .modal-checkbox-label span,
.modal-checkbox-input:hover + .modal-checkbox-label span {
  border-color: var(--pressed-state);
}
